<template>
  <div id="loginPage">
    <loginComponent v-on:enviar="onEnviar($event)"> </loginComponent>
  </div>
</template>

<script>
export default {
  name: 'loginPage',
  methods: {
    onEnviar: function (event) {
      console.log('onEnviar: ', event)
    }
  }
}

</script>

<style scoped>

</style>
