<template>
  <div id="loginPage">
    <register v-on:registrar="onRegistrar($event)"> </register>
  </div>
</template>

<script>
export default {
  name: 'loginPage',
  methods: {
    onRegistrar: function (event) {
      console.log('onRegistrar: ', event)
    }
  }
}

</script>

<style scoped>

</style>
