<template>
    <div id="cuentaUser">
        <p>Buscar usuarios</p>
        <input type="text">
        <div class="container-user-approve">
            <div class="container-user-approve-margin">
                <div class="user-approve">
                    <p class="">Juan Frenandez</p>
                    <form action="">
                        <div>
                            <span>Aprobar</span>
                            <input type="radio" name="juan" id="juan">
                            <span>Desaprovar</span>
                            <input type="radio" name="juan" id="juan">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
export default {
  name: 'cuentaUser'
}
</script>

<style scoped>

h1{
    font-weight: normal;
}

p{
    margin-bottom: 0;
}

.container-user-approve{
    border: 1px solid #ddd;
}

</style>

