<template>
  <div id="login">
    <div>
      <h1>Login component</h1>
      <p>Correo</p>
      <p class="input-error-message">{{messageError}}</p>
      <input type="email" v-bind:class="inputErrorClass" v-model="email" v-on:keyup="checkValidateEmail()">
      <p>Password</p>
      <p class="input-error-message">{{messageErrorPassword}}</p>
      <input type="password" v-bind:class="inputErrorClassPass" v-model="password">
      <br>
      <button v-on:click="onClick">Enviar</button>

    </div>
  </div>
</template>

<script>
export default {
  name: 'login',
  data () {
    return {
      email: '',
      password: '',
      inputErrorClass: 'input-normal',
      inputErrorClassPass: 'input-normal',
      messageError: '',
      messageErrorPassword: ''
    }
  },
  methods: {
    validateEmail: function (email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    checkValidateEmail: function () {
      if (!this.validateEmail(this.email)) {
        this.inputErrorClass = 'input-red'
        this.messageError = '*Ingresa un correo válido'
      } else {
        this.inputErrorClass = 'input-green'
        this.messageError = ''
      }
    },
    onClick: function () {
      if (this.email === '' || this.password === '') {
        if (this.password === '') {
          this.inputErrorClassPass = 'input-red'
          this.messageErrorPassword = '*No puedes dejar espacios sin completar'
        }
        if (this.email === '') {
          this.inputErrorClass = 'input-red'
          this.messageError = '*No puedes dejar espacios sin completar'
        }
      } else if (!this.validateEmail(this.email)) {
        this.inputErrorClass = 'input-red'
        this.messageError = '*Ingresa un correo válido'
      } else {
        this.messageErrorPassword = ''
        this.inputErrorClassPass = 'input-normal'
        this.$emit('enviar', {
          email: this.email,
          password: this.password
        })
      }
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1,
h2 {
  font-weight: normal;
}

p {
  margin-bottom: 0;
}

input {
  width: 150px;
}

.input-error-message {
  font-size: 10px;
  color: red;
}

.input-green {
  border: 1px solid green;
}

.input-green:focus {
  border: 1px solid green;
  outline-color: green;
}

.input-normal {
  display: inline;
}

.input-red {
  border: 1px solid red;
}

.input-red:focus {
  width: 150px;
  border: 1px solid red;
  outline-color: red;
}
</style>
