<template>
  <div class="login">
    <h1>Login component 2</h1>
    
  </div>
</template>

<script>
export default {
  name: 'login2',
  data () {
    return {
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped>
h1, h2 {
  font-weight: normal;
}

</style>
