<template>
  <div id="menuDashboardUser">
    <nav>
      <div class="container-nav">
        <div class="container-logo">
          <p class="logo">Logo</p>
          <!--<img class="logo" src="" alt="">-->
        </div>
        <div class="container-menu">
          <ul>
            <li>Cuenta</li>
          </ul>
        </div>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: 'menuDashboardUser'
}
</script>

<style scoped>
li {
  list-style-type: none;
}

#headerVue {
  display: block;
}

nav {
  display: block;
  width: 100%;
}

.container-logo {
  float: left;
}

.container-menu {
  float: right;
}

.container-nav {
  display: inline-block;
  width: 80%;
}
</style>
