<template>
  <div id="register">
    <div>
      <h1>Register component</h1>
      <p>Nombre</p>
      <p class="message-error">{{errorMessageName}}</p>
      <input v-bind:class="inputName" class="input-normal" type="text" v-model="name">
      <p>Correo</p>
      <p class="message-error">{{errorMessageEmail}}</p>
      <input v-on:keyup="checkValidateEmail()" v-bind:class="inputEmail" class="input-normal" type="text" v-model="email">
      <p>Password</p>
      <p class="message-error">{{errorMessagePass}}</p>
      <input v-bind:class="inputPass" class="input-normal" v-on:keyup="checkValidatePassword()" type="password" v-model="pass">
      <br>
      <button v-on:click="onClick">Registrar</button>
    </div>
  </div>
</template>

<script>
export default {
  name: 'register',
  data () {
    return {
      name: '',
      inputName: 'input-normal',
      errorMessageName: '',
      email: '',
      inputEmail: 'input-normal',
      errorMessageEmail: '',
      pass: '',
      inputPass: 'input-normal',
      errorMessagePass: ''
    }
  },
  methods: {
    validateEmail: function (email) {
      const re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
      return re.test(email)
    },
    checkValidateEmail: function () {
      if (!this.validateEmail(this.email)) {
        this.inputEmail = 'input-error'
        this.errorMessageEmail = '*Ingresa un correo válido'
      } else {
        this.inputEmail = 'input-green'
        this.errorMessageEmail = ''
      }
    },
    checkValidatePassword: function () {
      var count = this.pass.length
      if (count < 4 || count > 16) {
        this.errorMessagePass = 'La contraseña debe tener entre 4 y 16 caracteres'
        this.inputPass = 'input-error'
      } else {
        this.errorMessagePass = ''
        this.inputPass = 'input-normal'
      }
    },
    onClick: function () {
      if (this.name === '' || this.email === '' || this.pass === '') {
        if (this.name === '') {
          this.inputName = 'input-error'
          this.errorMessageName = 'No puedes dejar este campo vacio'
        }
        if (this.email === '') {
          this.inputEmail = 'input-error'
          this.errorMessageEmail = 'No puedes dejar este campo vacio'
        }
        if (this.pass === '') {
          this.inputPass = 'input-error'
          this.errorMessagePass = 'No puedes dejar este campo vacio'
        }
      } else if (!this.validateEmail(this.email) || this.pass.length < 4 || this.pass.length > 16) {
        return
      } else {
        this.inputName = 'input-normal'
        this.inputEmail = 'input-normal'
        this.inputPass = 'input-normal'
        this.$emit('registrar', {
          name: this.name,
          email: this.email,
          pass: this.pass
        })
      }
    }
  }
}
</script>

<style scoped>
h1 {
  font-weight: normal;
}

p {
  margin-top: 5px;
  margin-bottom: 0;
}

input {
  width: 150px;
}

.message-error {
  font-size: 10px;
  color: red;
}

.input-green {
  border: 1px solid green;
}

.input-green:focus {
  border: 1px solid green;
  outline-color: green;
}

.input-normal {
  display: inline;
}

.input-error {
  border: 1px solid red;
}

.input-error:focus {
  border: 1px solid red;
  outline-color: red;
}
</style>

